<tr>
    <td class="mdl-data-table__cell--non-numeric"><%= orderItem.name %></td>
    <td class="mdl-data-table__cell--non-numeric"><%= orderItem.params %></td>
    <td><%= orderItem.quantity %></td>
    <td><%= orderItem.price %></td>
    <td><%= orderItem.quantity * orderItem.price %></td>
</tr>