<li class="mdl-list__item demo-user-block__name mdl-color--primary">
    <span class="mdl-list__item-primary-content mdl-typography--headline mdl-color-text--white"><%= user.name %></span>
</li>
<li class="mdl-list__item">
    <span class="mdl-list__item-primary-content"><%= user.email %></span>
</li>
<li class="mdl-list__item">
    <span class="mdl-list__item-primary-content"><%= user.phone %></span>
</li>
<li class="mdl-list__item">
    <span class="mdl-list__item-primary-content"><%= user.address %>, <%= user.city %>, <%= user.country %></span>
</li>
